<p id="notice" class="alert alert-success"><%= notice %></p>
<div class="page-header">
  <h1>Cliente</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nome:</strong></dt>
  <dd><%= @cliente.nome.size > 0?"#{@cliente.nome}":" - " %></dd>
  <dt><strong>Endereco:</strong></dt>
  <dd><%= @cliente.endereco.size > 0?"#{@cliente.endereco}":" - " %></dd>
  <dt><strong>Bairro:</strong></dt>
  <dd><%= @cliente.bairro.size > 0?"#{@cliente.bairro}":" - " %></dd>
  <dt><strong>Cidade:</strong></dt>
  <dd><%= @cliente.cidade.size > 0?"#{@cliente.cidade}":" - " %></dd>
  <dt><strong>Uf:</strong></dt>
  <dd><%= @cliente.uf %></dd>
  <dt><strong>Telefone:</strong></dt>
  <dd><%= @cliente.telefone.size > 0?"#{@cliente.telefone}":" - " %></dd>
  <dt><strong>Email:</strong></dt>
  <dd><%= @cliente.email.size > 0?"#{@cliente.email}":" - " %></dd>
  <dt><strong>Contato:</strong></dt>
  <dd><%= @cliente.contato.size > 0?"#{@cliente.contato}":" - " %></dd>
</dl>

<div class="form-actions">
  <%= link_to 'Voltar', clientes_path, :class=>"btn" %>
  <%= link_to 'Editar', edit_cliente_path(@cliente),:class => "btn" %> 
  <%= link_to 'Apagar', @cliente, confirm: 'Desejas Apagar?',method: :delete ,:class => 'btn btn-danger'%>
</div>