<%= form_for(@implate, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @implate.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h3><%= pluralize(@implate.errors.count, "erro(s)") %> no(s) campo(s) abaixo </h3>
       <ul>
      <% @implate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <fieldset>
  <div class="control-group">
    <%= f.label :data,:class =>'control-label' %>
    <div class="controls">
    
    <%= f.date_select :data, :order => [:day, :month, :year], :use_month_names => %w(Janeiro Fevereiro Marco Abril Maio Junho Julho Agosto Setembro Outubro Novembro Dezembro)%>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :cliente_id,:class =>'control-label' %>
    <div class="controls">
    
    <%= f.collection_select :cliente_id, Cliente.find(:all, :order=>'nome'), :id, :nome  %>
    </div>
    </div>
  <div class="control-group">
  <%= f.label :status,:class =>'control-label' %>
    <div class="controls">
    
    <%= f.select :status, ['Implante','Recolhimento']%>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :quantidade,:class =>'control-label' %>
    <div class="controls">
    
    <%= f.number_field :quantidade %>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :tanque,:class =>'control-label' %>
    <div class="controls">
    
    <%= f.text_field :tanque %>
    </div>
    </div>
  <div class="control-group">
    <%= f.label :ok,:class =>'control-label' %>
    <div class="controls">
    
    <%= f.check_box :ok %>
    </div>
    </div>
<br/>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-small btn-primary' %>
    <%= link_to 'Voltar', implates_path, :class=>'btn btn-small' %>
  </div>
</fieldset>
<% end %>

